<mobile-wrapper>
    <div class="jumbotron">
        <h1>Configure outlet</h1>
    </div>
    <div class="container">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" ng-model="$ctrl.outlet.name">
        </div>
        <!--<div class="form-group">
            <label>Status</label>
            <input class="form-control" ng-model="$ctrl.status.$value">
        </div>-->

        <camera outlet="$ctrl.outlet"></camera>
    </div>
</mobile-wrapper>
