<div class="jumbotron">
    <div class="container">
        <h1>Outlets</h1>
        <p>Manage your outlets</p>
    </div>
</div>
<div class="container">
    <mobile-wrapper>
        <div class="row">
            <div class="col-sm-4" ng-repeat="outlet in $ctrl.outlets">
                <div class="card outlet" style="width: 18rem;">

                    <img class="card-img-top" src="{{outlet.photo || 'http://via.placeholder.com/350x200'}}" alt="Card image cap">

                    <div class="btn-group  toggle-controls" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success" ng-disabled="$ctrl.status.$value == 1" ng-click="$ctrl.turnOn(outlet)">On</button>
                        <button type="button" class="btn danger"  ng-disabled="$ctrl.status.$value != 1" ng-click="$ctrl.turnOff(outlet)">Off</button>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">{{outlet.name}}</h4>
                        <div class="text-right">
                            <a ui-sref="outlet({outletId: outlet.$id})" class="btn btn-link">Edit</a>
                            <a ui-sref="outlets" ng-click="$ctrl.delete(outlet.$id)" class="btn btn-link text-danger">Delete</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <button class="btn btn-lg btn-block btn-success" ng-click="$ctrl.addOutlet()">Add Outlet</button>
    </mobile-wrapper>
</div>
