<h1>Register</h1>
<div ng-if="$ctrl.error">{{$ctrl.error}}</div>
<form name="registerForm" ng-submit="$ctrl.register()">
    <div>
        <label for="email">email</label>
        <input name="email" ng-model="$ctrl.email" ng-required>
    </div>
    <div>
        <label for="password">password</label>
        <input name="password" type="password" ng-model="$ctrl.password" ng-required>
    </div>
    <div>
        <label for="retypePassword">retype password</label>
        <input name="retypePassword" type="password" ng-model="$ctrl.retypePassword" ng-required>
    </div>
    <button ng-disabled="registerForm.$invalid" type="submit">Register</button>
    <a ui-sref="sign-in">sign in</a>
</form>
