<h1>Register</h1>
<div ng-if="$ctrl.error">{{$ctrl.error}}</div>
<form name="registerForm" ng-submit="$ctrl.register()">
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" name="email" ng-model="$ctrl.email" ng-required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" name="password" type="password" ng-model="$ctrl.password" ng-required>
    </div>
    <div class="form-group">
        <label for="retypePassword">Retype Password</label>
        <input class="form-control" name="retypePassword" type="password" ng-model="$ctrl.retypePassword" ng-required>
    </div>
    <button ng-disabled="registerForm.$invalid" type="submit">Register</button>
    <br>
    <a class="button button-link" href="javascript:void(0);" ui-sref="sign-in">Sign in</a>
</form>
